openapi: 3.1.0
info:
  title: Bloomberg EMSX Trading Brokers Field Lists API
  description: Bloomberg Execution Management System (EMSX) API provides programmatic access to Bloomberg's order and execution management platform. It enables automated order creation, routing, modification, and execution monitoring for equity, fixed income, futures, and options trading across global markets. The API supports order lifecycle management, broker selection, route management, and real-time fill notifications through the Bloomberg Terminal and B-PIPE infrastructure.
  version: '1.0'
  contact:
    name: Bloomberg Professional Support
    url: https://www.bloomberg.com/professional/support/
  termsOfService: https://www.bloomberg.com/notices/tos/
servers:
- url: https://api.bloomberg.com/emsxapi/v1
  description: Bloomberg EMSX Production API
security:
- bearerAuth: []
tags:
- name: Field Lists
  description: Retrieve available order and route fields
paths:
  /fields/order:
    get:
      operationId: listOrderFields
      summary: Bloomberg EMSX List available order fields
      description: Retrieve the list of available fields for orders, including field names, types, and descriptions.
      tags:
      - Field Lists
      responses:
        '200':
          description: List of order fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  fields:
                    type: array
                    items:
                      $ref: '#/components/schemas/FieldDefinition'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /fields/route:
    get:
      operationId: listRouteFields
      summary: Bloomberg EMSX List available route fields
      description: Retrieve the list of available fields for routes, including field names, types, and descriptions.
      tags:
      - Field Lists
      responses:
        '200':
          description: List of route fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  fields:
                    type: array
                    items:
                      $ref: '#/components/schemas/FieldDefinition'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    FieldDefinition:
      type: object
      properties:
        name:
          type: string
          description: Field name
        description:
          type: string
          description: Field description
        type:
          type: string
          description: Field data type
        isReadOnly:
          type: boolean
          description: Whether the field is read-only
        isRequired:
          type: boolean
          description: Whether the field is required for creation
    Error:
      type: object
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
                description: Field that caused the error
              message:
                type: string
                description: Detail about the field error
          description: Detailed error information
  responses:
    Unauthorized:
      description: Authentication required or invalid credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bloomberg API authentication token obtained via Bloomberg B-PIPE or Bloomberg Terminal authentication
externalDocs:
  description: Bloomberg EMSX API Documentation
  url: https://www.bloomberg.com/professional/support/api-library/
